
<html lang="en">
  <head>
    
  
    

    <title>Login</title>
  </head>

  <body>
    <form method = "POST" action = "/login">
      <h2>Login form</h2>
      <p>Email: <input type= "email" name = "email" ></input></p>
      <p>Password: <input type= "password" name = "password" ></input></p>
      <p><button>Log in</button></p>

    </form>

    

    
 
     
       
         
       
       
    
    
      
  
  </body>
</html>