
<html lang="en">
    <head>
      
 
      
      
  
      <title>register</title>
    </head>
  
    <body>
      <form method="POST" action="/register">
        <h2>register form</h2>
        <p>Email: <input type="email" name="email" ></input></p>
        <p>Password: <input type="password" name="password" ></input></p>
        <p><button type="submit">Register</button></p>
  
      </form>
  
  
        
    
    </body>
  </html>